[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
# for git dependencies
allow-direct-references = true

[project]
name = "tuf-on-ci-sign"
version = "0.2.0"
description = "Signing tools for TUF-on-CI"
readme = "README.md"
dependencies = [
  "securesystemslib[gcpkms,hsm,sigstore] ~= 0.30",
  "tuf ~= 3.0",
  "click ~= 8.1",
]
requires-python = ">=3.10"

[project.scripts]
tuf-on-ci-delegate = "tuf_on_ci_sign:delegate"
tuf-on-ci-import-repo = "tuf_on_ci_sign:import_repo"
tuf-on-ci-sign = "tuf_on_ci_sign:sign"

[[tool.mypy.overrides]]
module = [
  "securesystemslib.*",
]
ignore_missing_imports = "True"

[tool.ruff]
# pycodestyle errors(E) and Pyflakes (F) are enabled by default.
# Also enable isort (I) and pep8-naming (N) .
select = ["E", "F", "I", "N"]
