name: Lint actions & workflows

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  lint-actions-and-workflows:
    name: Lint actions & workflows
    permissions:
      security-events: write
      contents: read
      actions: read
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
        cache: 'pip'
        cache-dependency-path: |
          actions/lint-requirements.txt

    - name: Install zizmor
      run: python -m pip install -r actions/lint-requirements.txt

    - name: Run zizmor
      run: zizmor .
