name: Lint & test

on:
  push:
    branches: [main]
  pull_request:

permissions: {}

jobs:
  test:
    name: Lint & test
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        toxenv: [lint-signer, test-signer]
        pyversion: ['3.10', '3.14']
        os: [ubuntu-latest, macos-latest]
        # Only run repository on 3.14 (dependency pinning is easier with single version)
        include:
          - toxenv: lint-repo
            pyversion: '3.14'
            os: ubuntu-latest
          - toxenv: test-repo
            pyversion: '3.14'
            os: ubuntu-latest
          - toxenv: test-e2e
            pyversion: '3.14'
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    env:
      TOXENV: ${{ matrix.toxenv }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.pyversion }}
        cache: 'pip'
        cache-dependency-path: |
          signer/pyproject.toml
          repo/pyproject.toml
          action-constraints.txt
          build/build-constraints.txt

    - name: Install system dependencies for e2e test
      if: matrix.toxenv == 'test-e2e'
      run: |
        sudo apt-get install libfaketime softhsm2
        echo "PYKCS11LIB=/usr/lib/softhsm/libsofthsm2.so" >> $GITHUB_ENV

    - name: Install tox
      run: python -m pip install -c build/build-constraints.txt tox

    - name: ${{ matrix.toxenv }}
      run: tox
