name: Lint & test

on:
  push:
    branches: [main]
  pull_request:

permissions: {}

jobs:
  test:
    name: Lint & test
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        toxenv: [lint-signer, test-signer]
        pyversion: ['3.9', '3.13']
        os: [ubuntu-latest, macos-latest]
        # Only run repository on 3.13 (dependency pinning is easier with single version)
        include:
          - toxenv: lint-repo
            pyversion: '3.13'
            os: ubuntu-latest
          - toxenv: test-repo
            pyversion: '3.13'
            os: ubuntu-latest
          - toxenv: test-e2e
            pyversion: '3.13'
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    env:
      TOXENV: ${{ matrix.toxenv }}

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false

    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{ matrix.pyversion }}
        cache: 'pip'
        cache-dependency-path: |
          signer/pyproject.toml
          repo/pyproject.toml
          action-constraints.txt
          build/build-constraints.txt

    - name: Install system dependencies for e2e test
      if: matrix.toxenv == 'test-e2e'
      run: |
        sudo apt-get install libfaketime softhsm2
        echo "PYKCS11LIB=/usr/lib/softhsm/libsofthsm2.so" >> $GITHUB_ENV

    - name: Install tox
      run: python -m pip install -c build/build-constraints.txt tox

    - name: ${{ matrix.toxenv }}
      run: tox
